.about{
    padding: 20px;
    width: 100%;
    min-height: 100vh;

    background-color: var(--bg-light);
    text-align: center;
}
body{
    overflow-x: hidden;
}
.title{
    transition: 0.3s;
}
.title img{
    width: 100px;
    height: 100px;
}

.title:hover{
    transform: scale(1.2);
}
.text{
    margin-top: 20px;
}