.header-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.header-link{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}
.header-link:hover:after{
    width: 120%;
}
.header-link:after{
    content: '';
    transition: 0.3s;
    width: 0;
    position: absolute;
    left: -10%;
    bottom: -7px;
    height: 5px;
    border-radius: 9px;
    background-color: #fff;
}