.login_form{
    min-height: 400px;
    width: 520px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.login-form__title{
    width: 100%;
    height: 90px;
    background-color: var(--dark-blue);

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 9px;
    font-size: 27px;
    font-weight: 600;
}
.login-form__text-input{
    width: 100%;
    height: 90px;

    padding: 20px;
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 9px;
    font-weight: 600;

}
.btn{
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
}
.news{
    position: absolute;
    /* top: calc(100vh-200px); */
    right: 20px;
    max-height: 500px;
    min-height: 400px;
    height: 100%;
    background-color: #fff;
    width: 300px;
    padding: 15px;
    border-radius: 9px;
}
.news__title{
    font-size: 24px;
}
.news__content{
    height: 70%;
    overflow-y: scroll;
}


@media screen and (max-width: 1170px) {
    .news{
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        height: 200px;
        min-height: 200px;
    }
}
@media screen and (max-height: 845px) and (max-width: 1170px){
    .news{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        max-height: 20vh;
        min-height: 15vh;
        height: 100%;
    }
}