body{
    padding: 30px;
}
.content-wrapper{
    padding: 0 30px;
}
.main-title{
    font-size: 36px;
}
.primary{
    color: var(--light-blue);
    text-decoration: underline;
}
header{
    margin-top: 60px;
}
.tax{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.content-wrapper.mobile{
    padding: 0;
}
.tax.expanded{
    display: block;
    padding: 0;
}
.tax.expanded *{
    width: 100%;
    margin: 0 0;
    border-radius: 0px;
}

.pay-btn{
    max-width: 543px;
    width: 100%;
    height: 100px;
    
}
.tax__title, .tax__price{
    background-color: var(--light-blue);
    font-size: 1.3rem;
    max-width: 543px;
    width: 100%;
    height: 100px;
    padding: 20px 23px;
    border-radius: 9px;
    margin: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tax__price{
    width: 200px;
    height: 100px;
}
.tax__price-primary{
    background-color: var(--app-green) !important;
    color:  #fff;
}
.history-wrapper{
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
.order_history{
    background-color: #fff;
    height: 100vh;
    min-width: 810px;
    margin-top: 30px;
    border-radius: 9px;
    padding: 10px;
    overflow-y: scroll;
}
.orders{
    width: 100%;
    list-style: none;
}
.order,.orders-title{
    background-color: #eee;
    height: 90px;
    border-radius: 9px;
    padding: 0px 2%;
    margin-bottom: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orders-title{
    background-color: #B2EBF2;
    font-weight: bold;
}

.order-item{
    height: 100%;
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-item:nth-child(2n){
    background-color: rgba(150,150,150, 0.4);
}
.btn.btn-success.expanded{
    width: 100vw;
}

@media screen and (max-width: 800px) {
    .tax{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 20px;
    }
    .tax__title, .tax__price{
        background-color: var(--light-blue);
        font-size: 1.3rem;
        width: 543px;
        height: 100px;
        padding: 20px 23px;
        border-radius: 9px;
        margin: 10px 0;
    }
  }