:root{
  --bg-light: #F8F1F1;
  --app-green: #16C79A;
  --dark-blue: #11698e;
  --black-blue: #19456b;
  --light-blue: #74CBF0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--bg-light);
}
main{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:disabled{
  cursor: not-allowed	
}
.btn:disabled::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(150,150,150, .5);
  border-radius: inherit;

}
.btn-success{
  background-color: var(--app-green);

  width: 100%;
  height: 90px;
  font-size: 27px;
  font-weight: 600;
  color: #fff;
  border-radius: 9px;
}
